main{
    padding: 20px;
    width: 100%;
    max-width: 750px;
    margin: 0px auto 15px auto;
    background-color: white;
}

article{
    margin: 20px;
}

article img{
    width: 150px;
}

section#lista_datas, section#content_servicos {
    display: block;
    text-align: center;
    margin: 20px 0px;
    width: 100%;
}

section#lista_datas ul, section#content_servicos ul, section#buttonServices ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
}

.liServices {
    list-style-type: none;
    display: block;
    font-weight: bolder;
    text-shadow: 1px 1px 3px black;
    color: white;
}

.btnServices{
    display: inline-block;
    color: white;
    background-color: grey;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

.btnServices:hover {
    background-color: rgb(71, 71, 71);
    text-decoration: underline;
}

#buttonServices {
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-direction: row;
}

#lightbox-gif{
    display:none;
    position:fixed;
    z-index:9999;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.8);
    justify-content:center;
    align-items:center;
}