@charset "UTF-8";

/* Typical Devie Breakpoints 
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    font-size: 1em;
    width: 100vw;
    height: 100vh;
}

header#header {
    background-color: grey;
    width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    align-items: center;
}

header#header img{
    border: 2px dotted black;
}

header#header nav {
    border: 2px dotted black;
    display: none;
    flex-flow: column wrap;
}

header#header span#burguer{
    background-color: darkgrey;
    width: 90vw;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

header#header nav a {
    display: block;
    flex: 1 1 auto;
    width: 90vw;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    background-color: black;
    color: white;
}






article > a > img {
    width: 200px;
    height: 200px;
    margin: 15px;
    display: inline-block;
    border-radius: 50px 0px;
}

article > h1 {
    font-size: 25pt;
    margin: 20px 0px 0px 0px;
    color: white;
    background: linear-gradient(to right, black, black);
    border-radius: 0px 10px 10px 0px;
    width: 250px;
    padding-left: 25px;
    transition: 1s;
}

article > h1:hover{
    background: linear-gradient(to right, black, grey);
}

article > p {
    background-color: white;
    margin-left: 10px;
    text-indent: 20px;
    padding: 10px 0px;
    margin: 0px;
}

article#art_contatos2 h2{
    background-color: black;
    color: white;
    width: 300px;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    -ms-border-radius: 0px 10px 10px 0px;
    -o-border-radius: 0px 10px 10px 0px;
}

article#art_contatos2 h3{
    margin: 10px 5px;
}

article#art_contatos2 a {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 5px;
}

footer {
    position:absolute;
    bottom: 25px;
    right: 25px;
}

@media screen and (min-width: 768px) {
    header#header {
        flex-flow: row wrap;
    }

    header#header span#burguer{
        display: none;
    }

    header#header nav#menu{
        display: flex;
        flex-flow: row wrap;
    }

    header#header nav a {
        display: inline-block;
        width: auto;
    }
}


/* @charset "UTF-8";

body {
    margin: 0;
    box-sizing: border-box;
    background-color: #b4b4b4;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

header {
    position: sticky;
    background-color: rgb(68, 68, 68);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > img {
    padding: 15px;
    width: 250px;
}

nav {
    background-color: rgb(68, 68, 68);
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0px;
}

nav > a{
    font-weight: bolder;
    color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    margin: 0px 3px;
    transition: 1s;
}

nav > a:hover{
    background-color: grey;
    text-shadow: 1px 1px 2px black;
}

article > a > img {
    width: 200px;
    height: 200px;
    margin: 15px;
    display: inline-block;
    border-radius: 50px 0px;
}

article > h1 {
    font-size: 25pt;
    margin: 20px 0px 0px 0px;
    color: white;
    background: linear-gradient(to right, black, black);
    border-radius: 0px 10px 10px 0px;
    width: 250px;
    padding-left: 25px;
    transition: 1s;
}

article > h1:hover{
    background: linear-gradient(to right, black, grey);
}

article > p {
    background-color: white;
    margin-left: 10px;
    text-indent: 20px;
    padding: 10px 0px;
    margin: 0px;
} */